.a {
    
    background-color: rgb(60, 193, 67);

}
.b {
    
    background-color: rgb(50, 35, 116);

}
.c {
    
    background-color: rgb(219, 127, 136);

}
.d {
    
    background-color: rgb(245, 242, 101);

}
.e {
    
    background-color: rgb(96, 200, 214);

}
.f {
    
    background-color: rgb(13, 179, 21);

}
.g{
    
    background-color: rgb(235, 92, 26);

}
.h {
    
    background-color: rgb(148, 19, 131);

}
.i {
    
    background-color: rgb(10, 116, 134);

}